*
!.gitignore
!*.ogg
!README.md
!LICENSE
!hyperrogue-music.txt
hr-savino-caribbean.ogg
hr-savino-ivory.ogg
hr-savino-ocean.ogg
hr-savino-palace.ogg
hr3-caves.ogg
hr3-crossroads.ogg
hr3-desert.ogg
hr3-graveyard.ogg
hr3-hell.ogg
hr3-icyland.ogg
hr3-jungle.ogg
hr3-laboratory.ogg
hr3-mirror.ogg
hr3-motion.ogg
hr3-rlyeh.ogg
